/.vscode
.vscode-test/**
/*.vsix
/node_modules
/test
/vsc-extension-quickstart.md
/src/storage/data.json
/out/*.*
/out/storage/*
!out/storage/device_and_file.json
!out/storage/.file
.vscode/settings.json
